@model TemaLivreP2.Material

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Material</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Preco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Preco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fornecedor1.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fornecedor1.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo1.descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo1.descricao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
